@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fee2e2;
  max-width: 900px;
  display: block;
  margin: auto;
}
:root {
  --primary-color: #ef4444;
  --purple-color: #f87171;
  --lightpurple-color: #fecaca;
  --button-background: #f87171;
}

h1 {
  color: var(--primary-color);
  text-align: center;
}
.image {
  margin-top: 2rem;
}
.container-main {
  width: 70%;
  display: block;
  margin: auto;
}

#submit-answer-btn {
  display: block;
  margin: 2rem auto auto auto;
  padding: 1rem 1.5rem;
  border: 1.2px solid var(--button-background);
  background-color: var(--button-background);
  border-radius: 0.3rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#output {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}
