@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}
:root {
    --primary-color: #F87171;
    --link-color:#FCA5A5;
  }

.container{
    display: block;
    margin:auto;
    text-align: center;
}
  
  /** links **/
.heading .heading-img {
    max-width: 400px;
    margin: auto;
    display: block;
  }

  .heading h2{
      text-align: center;
      color:var(--primary-color);
  }
  
  .navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 0rem;
    border-bottom-left-radius: 1rem;
  }
 
 .navigation h1{
     text-align: center;
 }
  
  .navigation .link {
    color: white;
  }
  .navigation .link-active {
    font-weight: bold;
  }
  .hero {
    padding: 3rem;
  }
  
  .hero .hero-img {
    max-width: 400px;
    margin: auto;
    display: block;
  }
 
  
  
  
  